body {
  background-color: #339988;
}
.addhours {
  grid-column-start: span 3;

}

.odd{
  background-color: #dedeff;
}

.even{
  background-color: #ffabab;
}

.outlined{
  border: solid;
  border-color:black;
  border-radius:2;
}

.main{
  display:grid;
  grid-template-columns: 100px 110px 130px 160px 160px 50px 50px 50px 50px 50px 50px;
}
.dropDown{
  font-size:1.5em;
  width:100%;
}
.dropDown1{
  width:100%;
}
.timeInput{
  padding-left:10px;
  font-size: 1.5em;
  width: 100%;
}
.note1{
  width:100%;
  padding:5px;
}
