body {
  background-color: #339988;
}
.addhours {
  grid-column-start: span 3;

}

.odd{
  background-color: #dedeff;
}

.even{
  background-color: #ffabab;
}

.outlined{
  border: solid;
  border-color:black;
  border-radius:2;
}

.main{
  display:grid;
  grid-template-columns: 100px 80px 100px 185px 185px 55px 55px 55px 55px 55px 55px;
}
